/Chat-Socket/Servidor/nbproject/private/
/Chat-Socket/Cliente/nbproject/private/
/Chat-Socket/Servidor/build/
/Chat-Socket/Cliente/build/
/Chat-Socket/Cliente/dist/
/Chat-Socket/Servidor/dist/
/Socket/Chat/nbproject/private/
/Socket/Chat/build/
/Socket/Chat/dist/
/Socket/Servidor/nbproject/private/
/Socket/Cliente/nbproject/private/
/Socket/Cliente/build/
/Socket/Cliente/dist/
/Socket/Servidor/build/
/Socket/Servidor/dist/